@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #F5EEFF;
  background-color: #2E3E3C;
  overflow-x: hidden;
}

.layout_padding {
  padding: 45px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.heading_container h2 {
  position: relative;
}

.heading_container h2 span{
  position: relative;
  font-weight: bold;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.img1 {
    max-height: 300px;
}

/*header section*/

.sub_page {
  background-color: #F5EEFF;
  color: #1B2D2A;
}
.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  position: sticky;
  left:0;
  right: 0;
  top:0;
  z-index:100;
  padding: 15px;
  background: #F5EEFF;
  color: #1B2D2A;
  border: 3px solid #1B2D2A;
  font-weight: bold;
  font-size: 24px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #1B2D2A;
  padding: 0px 25px;
}

/*end header section*/

/* intro section */
.intro_section {
  color: #F5EEFF;
  background-color: #1B2D2A;
  border-left: 3px solid #1B2D2A;
  border-right: 3px solid #1B2D2A;
}

.intro_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_section .img-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.intro_section .img-box img {
  max-width: 300px;
  height: auto;
  border: 5px solid #F5EEFF;
  border-radius: 20%
}

.intro_section h1 {
  margin-bottom: 45px;
}



.intro_section .detail-box h3 {
  font-weight: bold;
}

.intro_section .detail-box p {
  margin-top: 15px;
}

.intro_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}
/* end intro section*/

/* start about section */
.about_section {
  color: #1B2D2A;
  background-color: #F5EEFF;
  border-top: 2px solid #1B2D2A;
  border-left: 2px solid #1B2D2A;
  border-right: 2px solid #1B2D2A;

  .row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  figure {
    display: flex;
    float: left;

    img {
      max-width: 300px;
      height: auto;
      border: 5px solid #1B2D2A;
      border-radius: 20%

    }

    figcaption {
      display: inline-block;
      text-align: left;
      width: 50%;
      margin: 0;
    }
  }


}


.about_section .detail-box p {
  margin-top: 15px;
  text-align: start;
}

.about_section #secret{
  margin-top: 15px;
  text-align: start;
  color: #1B2D2A;
}
.about_section #secret:hover{
  margin-top: 15px;
  text-align: start;
  color: #4F9D69;
}

.about_section a{
  margin-top: 15px;
  text-align: start;
  color: #4F9D69;
}
.about_section a:hover{
  margin-top: 15px;
  text-align: start;
  color: #1B2D2A;
}
/* end about section */

/* start resume section */
.resume_section {
  position: relative;
  text-align: center;
  color: #F5EEFF;
  background-color: #1B2D2A;
  border-top: 3px solid #1B2D2A;
  border-left: 3px solid #1B2D2A;
  border-right: 3px solid #1B2D2A;
}

.resume_section .btn-box a {
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #1B2D2A;
  color: #F5EEFF;
  border: 3px solid #F5EEFF;
  border-radius: 5px;
}

.resume_section .btn-box a:hover {
  background-color: #F5EEFF;
  color: #1B2D2A;
  border: 3px solid #F5EEFF;
  border-radius: 5px;
}

.pdf {
    -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    aspect-ratio: 4/3;

}
/* end resume section */

/* start project section */
.project_section {
  text-align: center;
  color: #1B2D2A;
  background-color: #F5EEFF;
  border-top: 3px solid #1B2D2A;
  border-left: 3px solid #1B2D2A;
  border-right: 3px solid #1B2D2A;
}

.project_section .row {
  margin: 10px 10px;
  padding: 0px 50px;
}

.project_section h2 {
  margin-bottom: 10px
}
.project_section h3 {
  text-align: right;
  font-size: 1.2rem;
}

.project_section p {
  margin: 3px;
  text-align: left;
}

.project_section li {
  margin: 0;
  text-align: left;
}

.project_section .projects_container {
  padding: 10px 10px 10px 10px;
}

.project_section .projects_container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.project_section .projects_container .box {
  padding: 20px 20px 20px 20px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-bottom: 25px;
  background-color: #1B2D2A;
  color: #ffffff;
  border: 3px solid #1B2D2A;
}

.project_section .projects_container .box  h3 {
  text-align: left;
  font-size: 1.75rem;
  margin: 0;
}
.project_section .projects_container .box  h4 {
  text-align: left;
}

.project_section .projects_container .box a {
    color: #4F9D69;
}
.project_section .projects_container .box a:hover {
    color: #ffffff;
}

.project_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_section .img-box img {
  max-width: 200px;
  height: auto;
}

/* end project section*/

/* start project page section*/
.project_page_section {
  text-align: center;
  background-color: #1B2D2A;
  color: #F5EEFF;
  border-top: 3px solid #1B2D2A;
  border-left: 3px solid #1B2D2A;
  border-right: 3px solid #1B2D2A;
}

.project_page_section heading_container {
  margin-bottom: 20px
}

.project_page_section h2 {
  margin-bottom: 10px
}

.project_page_section .row {
  margin: 10px 10px;
  padding: 0px 50px;
}

.project_page_section h3 {
  text-align: right;
  font-size: 1.2rem;
}

.project_page_section p {
  margin: 3px;
  text-align: left;
}

.project_page_section li {
  margin: 0;
  text-align: left;
}
.project_page_section a {
  color: #4F9D69;
}
.project_page_section a:hover {
  color: #F5EEFF;
}

.project_page_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_page_section .img-box img {
  max-width: 250px;
  margin: 15px;
  height: auto;
}

.project_page_section .img-box-big img{
  max-width: 600px;
  margin: 15px;
  height: auto;
}

/* end project page section*/


/* start contact section */
.contact_section {
  background-color: #1B2D2A;
  color: #ffffff;
  border-top: 3px solid #1B2D2A;
  border-left: 3px solid #1B2D2A;
  border-right: 3px solid #1B2D2A;
}

.contact_section h2{
  color: #D5C3DF;

}
.contact_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #210124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.contact_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}
/* end contact section */

/* footer section*/
.footer_section {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border: 3px solid #1B2D2A;
  background-color: #F5EEFF;
  color: #1B2D2A;
  padding: 15px;
}

.footer_section i {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_section a {
  color: #1B2D2A;
  font-size: 22px;
}

.footer_section a:hover {
  color: #4F9D69;
}




*, *:before, *:after {
	 box-sizing: border-box;
}
/* start steve section */
.steve_section {
  background-color: #1B2D2A;
  color: #F5EEFF;
  border-top: 2px solid #1B2D2A;
  border-left: 2px solid #1B2D2A;
  border-right: 2px solid #1B2D2A;
}

.steve_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steve_section .img-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 300px;
      height: auto;
      border: 5px solid #F5EEFF;
      border-radius: 20%;

    }
}


/* end steve section */