@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #F5EEFF;
  background-color: #2E3E3C;
  overflow-x: hidden;
}

.layout_padding {
  padding: 45px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.heading_container h2 {
  position: relative;
}

.heading_container h2 span{
  position: relative;
  font-weight: bold;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.img1 {
    max-height: 300px;
}

/*header section*/

.sub_page {
  background-color: #F5EEFF;
  color: #1B2D2A;
}
.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;

}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #1B2D2A;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #f9ecf9;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #54825D;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #f9ecf9;
}

.custom_nav-container .nav_search-btn:hover {
  color: #54825D;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
/*end header section*/

/* intro section */
.intro_section {
  color: #F5EEFF;
  background-color: #1B2D2A;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.intro_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_section .img-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.intro_section .img-box img {
  max-width: 300px;
  height: auto;
  border: 5px solid #F5EEFF;
  border-radius: 20%
}

.intro_section h1 {
  margin-bottom: 45px;
}



.intro_section .detail-box h3 {
  font-weight: bold;
}

.intro_section .detail-box p {
  margin-top: 15px;
}

.intro_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}
/* end intro section*/

/* start about section */
.about_section {
  color: #1B2D2A;
  background-color: #F5EEFF;
  border-top: 2px solid #1F1A38;
  border-left: 2px solid #1F1A38;
  border-right: 2px solid #1F1A38;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about_section .img-box img {
  max-width: 300px;
  height: auto;
  border: 5px solid #1B2D2A;
  border-radius: 20%
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
  text-align: start;
}

.about_section a{
  margin-top: 15px;
  text-align: start;
  color: #1B2D2A;
}
.about_section a:hover{
  margin-top: 15px;
  text-align: start;
  color: #4F9D69;
}
/* end about section */

/* start resume section */
.resume_section {
  position: relative;
  text-align: center;
  color: #F5EEFF;
  background-color: #1B2D2A;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.resume_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: left;
  text-align: left;
  margin-bottom: 40px;
}

.resume_section .btn-box a {
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #1B2D2A;
  color: #F5EEFF;
  border: 3px solid #F5EEFF;
  border-radius: 5px;
}

.resume_section .btn-box a:hover {
  background-color: #F5EEFF;
  color: #1B2D2A;
  border: 3px solid #F5EEFF;
  border-radius: 5px;
}
.pdf {
    -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    aspect-ratio: 4/3;

}
/* end resume section */

/* start project section */
.project_section {
  text-align: center;
  color: #1B2D2A;
  background-color: #F5EEFF;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.project_section .row {
  margin: 10px 10px;
  padding: 0px 50px;
}

.project_section h2 {
  margin-bottom: 10px
}
.project_section h3 {
  text-align: right;
  font-size: 1.2rem;
}

.project_section p {
  margin: 3px;
  text-align: left;
}

.project_section li {
  margin: 0;
  text-align: left;
}

.project_section .projects_container {
  padding: 10px 10px 10px 10px;
}

.project_section .projects_container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.project_section .projects_container .box {
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-bottom: 25px;
  background-color: #1B2D2A;
  color: #ffffff;
  border: 3px solid #1B2D2A;
}

.project_section .projects_container .box  h3 {
  text-align: left;
  font-size: 1.75rem;
  margin: 0;
}

.project_section .projects_container .box a {
    color: #4F9D69;
}
.project_section .projects_container .box a:hover {
    color: #ffffff;
}

.project_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_section .img-box img {
  max-width: 200px;
  margin: 15px;
  height: auto;
}

/* end project section*/

/* start project page section*/
.project_page_section {
  text-align: center;
  background-color: #1B2D2A;
  color: #F5EEFF;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.project_page_section heading_container {
  margin-bottom: 20px
}

.project_page_section h2 {
  margin-bottom: 10px
}

.project_page_section .row {
  margin: 10px 10px;
  padding: 0px 50px;
}

.project_page_section h3 {
  text-align: right;
  font-size: 1.2rem;
}

.project_page_section p {
  margin: 3px;
  text-align: left;
}

.project_page_section li {
  margin: 0;
  text-align: left;
}
.project_page_section a {
  color: #4F9D69;
}
.project_page_section a:hover {
  color: #F5EEFF;
}

.project_page_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_page_section .img-box img {
  max-width: 175px;
  margin: 15px;
  max-height: 100px;
}

/* end project page section*/


/* start contact section */
.contact_section {
  background-color: #1B2D2A;
  color: #ffffff;
  border-top: 3px solid #1F1A38;
  border-left: 3px solid #1F1A38;
  border-right: 3px solid #1F1A38;
}

.contact_section h2{
  color: #D5C3DF;

}
.contact_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #210124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.contact_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}
/* end contact section */

/* footer section*/
.footer_section {
  padding-top: 10px;
  text-align: center;
  border: 3px solid #1F1A38;
}

.footer_section i {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_section a {
  color: #1B2D2A;
  font-size: 22px;
}

.footer_section a:hover {
  color: #4F9D69;
}




*, *:before, *:after {
	 box-sizing: border-box;
}
/* start steve section */
.steve_section {
  background-color: #1B2D2A;
  color: #F5EEFF;
  border-top: 2px solid #1F1A38;
  border-left: 2px solid #1F1A38;
  border-right: 2px solid #1F1A38;
}

.steve_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steve_section .img-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.steve_section .img-box img {
  max-width: 300px;
  height: auto;
  border: 5px solid #F5EEFF;
  border-radius: 20%
}
/* end steve section */