
<!-- about section -->
<section class="about_section layout_padding">
    <div class="container-fluid">

        <!--main / central area-->

        <div class="heading_container heading_center">
            <h1>
                <span>Hi! I'm Lydia</span>
            </h1>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="static/images/me.jpg" alt="Lydia Kidwell's headshot">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <p>
                        Welcome to my portfolio website! I'm an environmental data analyst living in Reston, VA
                        with my husband and our cat. I discovered my passion for data analysis during my time at
                        Timmons Group as a Project Engineer on the Economic Development team. That, combined
                        with my B.S. in Biological Systems Engineering from Virginia Tech (go hokies!), has lead
                        me to pursue a career in environmental data analysis.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <p>
                        My husband and I moved to northern Virginia in August 2024, and I took that as an
                        opportunity to pivot from civil engineering to data analysis.
                        Since then, I have been taking online courses on Udemy and Linkedin Learning to develop
                        my
                        data analysis skills, participating as candidate in the
                        Hiring Our Heroes Military Spouse Career Accelerator Pilot (MSCAP) Fellowship,
                        volunteering
                        with the Feline Foundation of Greater Washington and Pet FBI,
                        and exploring data through personal projects. Speaking of my personal projects, check
                        out my
                        favorite projects below or look at them all on
                        <a href="lydiak22.pythonanywhere.com/projects">my projects page!</a>
                        <br><br>
                        P.S. This is my cat, Steve French, he's the best. He likes to help out when
                        I'm working.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <figure class="img-box">
                    <img src="static/images/steve_working.jpg"
                         alt="Fluffy orange cat, Steve French, sitting in on my desk.">

                </figure>


            </div>
        </div>

    </div>

</section>
<!-- end about section -->

