<!-- about section -->
<section class="about_section layout_padding">
    <div class="container-fluid">

        <div class="heading_container">
            <h2>
                <span>About Me</span>
            </h2>
        </div>

        <div class="row justify-content-md-center">

            <div class="col-md-4">
                <figure class="img-box">
                    <img src="static/images/steve_working.jpg"
                         alt="Fluffy orange cat, Steve French, sitting in on my desk.">
                </figure>
            </div>

            <div class="col-md-6">
                <div class="detail-box">
                    <p>
                        I’m a data-driven problem-solver with a strong commitment to sustainability and climate justice.
                        With a background in civil engineering consulting and economic development, and a passion for
                        environmental data analysis, I’m on a mission to use data to drive climate action, conservation,
                        and equitable solutions.

                        After several years in consulting, a cross-country PCS move gave me the rare gift of time—so I
                        used it to pivot. I dove into Google’s Data Analytics Certificate, explored the world of GIS
                        through Esri MOOCs, built dashboards with Tableau, and sharpened my Python skills (hello, 100
                        Days of Code!). I’m now actively seeking opportunities in climate data analytics and
                        sustainability consulting, where I can combine technical know-how with purpose-driven work.

                        Along the way, I’ve stayed rooted in community—volunteering with the Virginia League of
                        Conservation Voters, running the Lost Cats Virginia page for Pet FBI, and socializing rescue
                        cats with Feline Foundation of Greater Washington. I also tap into military spouse career
                        networks like Hiring Our Heroes and ACP to grow, learn, and connect.

                        When I’m not analyzing data or advocating for climate policy, you’ll find me curled up with my
                        cat, a Stephen King audiobook in the background, or gaming with my husband between classic
                        horror movie marathons.

                        Let’s connect—especially if you believe in the power of data to build a better, greener future.
                        P.S. This is my cat, Steve French, he's the best. He likes to help out when
                        I'm working.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end about section -->

