<!-- about section -->
<section class="about_section layout_padding">
    <div class="container-fluid-center">

        <div class="heading_container">
            <h2>
                <span>About Me</span>
            </h2>
        </div>

        <div class="row justify-content-md-center">

            <div class="col-md-4">
                <figure class="img-box">
                    <img src="static/images/volunteer3.jpg"
                         alt="Volunteering at Feline Foundation of Greater Washington, there's a grey and white cat going to town on a fluffy orange fox toy while I sit next to him petting him.">
<!--                <figcaption>Volunteering with Feline Foundation of Greater Washington</figcaption>-->
                </figure>
            </div>

            <div class="col-md-6">
                <div class="detail-box">
                    <p>
                        I’m a data-driven problem-solver with a strong commitment to sustainability and climate justice.
                        With a background in civil engineering consulting and economic development, and a passion for
                        sustainability and data analysis, I’m on a mission to use data to drive climate action,
                        conservation, and equitable solutions.<br><br>

                        After nearly two years in civil engineering consulting, a PCS move across Virginia gave me the
                        chance to refocus and realign my career with my passions and values. I dove into online courses
                        and professional development communities to get a jump on my professional transition. I'm
                        currently working through Google’s Data Analytics Career Certificate program and Esri's <em>Make
                        an Impact with Modern Geo Apps</em> MOOC, and have completed Esri's <em>GIS for Climate
                        Action</em> MOOC, a Python bootcamp, and several LinkedIn Learning sustainability lessons over
                        the past six months. I’ve also tapped into military spouse resources like Hiring Our Heroes and
                        American Corporate Partners for mentorship, networking, and support during the transition. It’s
                        been a time of growth, upskilling, and connecting with my community.<br><br>


                    </p>
                </div>
            </div>
            <div class="row justify-content-md-center">

                <div class="col-md-6">
                    <div class="detail-box">
                        <p>
                           My commitment to community also shows up in my volunteer work — advocating for climate
                        legislation with the Virginia League of Conservation Voters, helping lost pets reunite with
                        their families through Pet FBI, and socializing rescue cats with the Feline Foundation of
                        Greater Washington. These experiences have deepened my belief in community-driven solutions and
                        fueled my motivation to support environmental progress through data and storytelling.<br><br>

                        When I’m not analyzing data or advocating for climate policy, you’ll find me cooking new recipes
                        with a Stephen King audiobook playing in the background or marathoning classic horror movies
                        with my husband and our cat.<br><br>

                        Let’s connect—especially if you believe in the power of data to build a better, greener
                        future.<br><br>


                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <figure class="img-box">
                        <img src="static/images/steve_working.jpg"
                             alt="Fluffy orange cat, Steve French, sitting in on my desk.">
<!--                        <figcaption>This is my cat, <a href="{{url_for('steve')}}">Steve French</a>, he's the best. He likes to help out when I'm working.</figcaption>-->
                    </figure>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- end about section -->

