{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}


<!-------body------>

<body class="sub_page">

<div class="hero_area">

    {% include "navbar_simple.html" %}
</div>

<!-- project section -->
<section class="project_section layout_padding">
    <div class="heading_container">
        <h2 class="">
            Add a Project
        </h2>
    </div>
    <div class="project_container">
        {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
        {{ ckeditor.config(name='description') }}
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
</section>
<!-- end project section -->
</body>

<!-- footer -->
{% include "footer.html" %}
