<!-- project section -->
<section class="project_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container">
            <h2>
                <span>Projects</span>
            </h2>
        </div>

        <div class="projects_container">
            <div class="row">
                {% for project in all_projects %}
                <div class="col-lg-6 col-sm-12">
                    <div class="box">
                        <div class="row">

                            <h3>
                                {{project.title}}:
                            </h3>
                            <h4>
                                {{project.subtitle}}
                            </h4>
                        </div>

                        <div class="row justify-content-md-center">

                            <div class="img-box col">
                                <img src={{project.img_url}}
                                     alt={{project.img_alt_text}}>
                            </div>
                            <div class="col">
                                {% if project.goal is sameas None %}

                                {{' '.join(project.description.strip().split()[:30])|safe}}...

                                <a href="{{url_for('show_project', project_id=project.id) }}">Read More</a>

                                {% else %}
                                <p>

                                    {{' '.join(project.description.strip().split()[:24])|safe}}...
                                    <a href="{{url_for('show_project', project_id=project.id) }}">Read More</a>

                                </p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


<!-- end project section -->


