<!-- footer section -->
<section class="footer_section">
    <div class="container-fluid-center ">
        <div class="row justify-content-md-center">

            <a href="https://www.facebook.com/LostCatsVirginia" target="_blank">
                <i class="fa-brands fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/lydiakidwell" target="_blank">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/lydsk22/" target="_blank">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.goodreads.com/lydiakidwell" target="_blank">
                <i class="fa-brands fa-goodreads" aria-hidden="true"></i>
            </a>

        </div>


        <div class="row justify-content-md-center">
            <p>
                &copy; {{ current_year }} All Rights Reserved by Lydia Kidwell
            </p>
        </div>
    </div>

</section>
<!-- footer section -->

