<section class="info_section layout_padding2">
    <hr/>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <h4>
                Contact Info
            </h4>
        </div>
        <div class="info_contact info_links">
            <div class="col-sm-12">
                <p><b>Phone: </b>(703) 340-4316 </p>
                <p><b>Email: </b>lydia.kidwell22@gmail.com</p>

            </div>
            <div class="col-sm-12">
                <a href="www.linkedin.com/in/lydiakidwell">Linkedin</a>
                <a href="https://github.com/lydsk22">Github</a>
            </div>
        </div>
    </div>
    <hr/>
</section>

<!-- end info section -->