{% include "header.html" %}

<!-------body------>
<body class="sub_page">

<!--this line is to prevent FOUC (Flash of unstyled content) bug on firefox-->
<script>0</script>

{% include "navbar_simple.html" %}

<section class="steve_section layout_padding">
    <div class="container-fluid-center">

        <div class="row justify-content-md-left">
            <div class="col-md-4">
                <figure class="img-box">
                    <img src="static/images/in_progress_img.png"
                         alt="Fluffy orange cat, Steve French, being cute">
                </figure>
            </div>
        </div>
    </div>
</section>
</body>

<!-- footer -->
{% include "footer.html" %}