{% include "header.html" %}

<!-------body------>
<body class="sub_page">

<div class="hero_area">

    {% include "navbar.html" %}
</div>
<div class="row justify-content-md-center">
    <div class="col col-lg-3">

    </div>
    <div class="col-md-auto">
        <!-- about section -->

        <section class="about_section layout_padding">
            <div class="heading_container heading_center">
                <h2>
                    <span>Hi! I'm Lydia</span>
                </h2>

            </div>

            {% for chunk in about_text%}

            <div class="row justify-content-md-center">
                {% if loop.index0 % 2 == 0 %}
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="static/images/me.jpg" alt="Lydia Kidwell's headshot">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <p>
                            {{chunk}}
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="col-md-6">
                    <div class="detail-box">
                        <p>
                            {{chunk}}
                            <a href="lydiak22.pythonanywhere.com/projects">my projects page!</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <figure><img src="static/images/steve_working.jpg"
                                     alt="Fluffy orange cat, Steve French, sitting in on my desk.">
                            <figcaption><br>This is my cat, Steve French, he's the best.<br> He likes to help out when
                                I'm working.
                            </figcaption>
                        </figure>

                    </div>
                </div>
                {% endif %}
            </div>

            {% endfor %}

        </section>

        <!-- end about section -->
        <section class="project_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2>
                <span>Featured Projects</span>
            </h2>

        </div>

        <div class="project_container">
            <div class="row">
                {% for project in all_projects %}
                {% if project.id == 2 or project.id == 3%}
                <div class="col-lg-6 col-sm-12">
                    <div class="box">
                        <div class="row">

                            <div>
                                {% if project.subtitle is sameas None %}

                                <h4>
                                    {{project.title}}
                                </h4>
                                {%else%}
                                <h4>
                                    {{project.title}}:
                                </h4>
                                <h5>
                                    {{project.subtitle}}
                                </h5>
                                {% endif %}
                            </div>
                        </div>
                            <div class="row">
                                <div class="img-box">
                                    <img src={{project.img_url}} class="img2"
                                         alt={{project.img_alt_text}}>
                                </div>
                                    {{' '.join(project.description.strip().split()[:30])|safe}}...

                                    <a href="{{url_for('show_project', project_id=project.id) }}">Read More</a>
                            </div>
                            <div class="project-date">
                                <p>
                                    {% if project.date_finished == "": %}
                                    Not Yet Completed
                                    {%else%}
                                    Completed {{project.date_finished}}
                                    {% endif %}
                                </p>
                            </div>


                    </div>
                </div>
                {%endif%}
                {% endfor %}

            </div>
        </div>
    </div>
</section>
        <!--start project section-->

        <!-- end project section -->

    </div>
    <div class="col col-lg-3">

    </div>
</div>
<!--footer-->
{% include "footer.html" %}

</body>

