{% include "header.html" %}

<!-------body------>
<body class="sub_page">

    {% include "navbar_simple.html" %}


    <section class="intro_section layout_padding">
        <div class="container-fluid-center ">
            <div class="row justify-content-md-center">
                <div class="col-md-6 ">
                    <div class="detail-box">
                        <h1>
                            Hi! I'm Lydia
                        </h1>
                        <p>
                            I'm a Climate Data Analyst from northern Virginia with 2+ years of experience in civil
                            engineering consulting, economic development, and data analysis. I'm passionate about sustainability,
                            climate justice, and advancing climate action initiatives through data-driven solutions.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="static/images/me.jpg" alt="Lydia Kidwell's headshot">
                    </div>
                </div>
            </div>
        </div>

    </section>


<!-- about section -->
{% include "about.html" %}
<!-- end about section -->

<!--begin resume section-->
{% include "resume.html" %}
<!-- end resume section -->

<!--begin project section-->
{% include "all_projects.html" %}
<!-- end projects section -->

<!--begin contact_form section-->
{% include "contact_form.html" %}
<!-- end contact_form section -->
</body>
<!--footer-->
{% include "footer.html" %}



