{% include "header.html" %}

<!-------body------>
<body class="sub_page">

{% include "navbar_simple.html" %}

<section class="project_page_section layout_padding ">
    <div class="container-fluid-center">
        <div class="heading_container">
            <h1>{{project.title}}</h1>
            <h2>{{project.subtitle}}</h2>

            <div class="img-box">
                <img src={{project.img_url}}
                     alt={{project.img_alt_text}}>
            </div>
        </div>


        {% for component in description_components %}
        <div class="row">
            <div class="col-md-3">
                <h3>{{component}}:</h3>
            </div>

            <div class="col-md-9">
                {% if component == "Tools" %}
                <ul>
                    {% for tool in project[component.lower()].split(";") %}
                    <li>{{tool}}</li>
                    {% endfor %}
                </ul>
                {% elif component == "Github" %}
                <p>See this project on
                    <a href="{{ project.github_url }}">GitHub</a>
                </p>
                {% else %}
                <p>{{project[component.lower()]}}</p>
                {% endif %}

            </div>

        </div>
        {% endfor %}


    </div>
</section>

<!-- footer -->
{% include "footer.html" %}
