
<!-- resume section -->
<section class="resume_section layout_padding">
    <div class="heading_container heading_center">
        <h2>
            <span>Resume</span>
        </h2>
    </div>
    <div class="box pdf">
        <iframe allowfullscreen
                frameborder="0"
                src="static/files/LydiaKidwell_Resume_2025.pdf#toolbar=0&navpanes=0"
                style="border:none"
                title="Lydia's Resume 2025"
                height="1200px"
                width="80%"
        ></iframe>
    </div>

    <div class="btn-box">
        <a href="{{ url_for('download') }}">
            download
        </a>
    </div>
</section>

<!-- end resume section -->


