{% include "header.html" %}

<!-------body------>

<body class="sub_page">

<div class="hero_area">

    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img alt="" src="static/images/hero-bg.png">
        </div>
    </div>

    {% include "navbar.html" %}
</div>


<!-- resume section -->
<!--<section class="resume_section layout_padding">-->
<!--    <div class="heading_container heading_center">-->
<!--        <h2>-->
<!--            <span>Ms. Lydia Kidwell</span>-->
<!--        </h2>-->
<!--        <h4>Environmental Data Analyst</h4>-->
<!--    </div>-->
<!--    <hr/>-->
<!--    <div class="row">-->
<!--        <div class="col-sm-12 col-md-6">-->
<!--            <div class='heading_container'>-->
<!--                <h5>-->
<!--                    <span><b>Contact Information</b></span>-->
<!--                </h5>-->
<!--            </div>-->

<!--            <div class="detail-box">-->
<!--                <p><b>Phone: </b>(703) 340-4316</p>-->
<!--                <p><b>Email: </b>lydia.kidwell22@gmail.com</p>-->
<!--                <p><b>Location: </b>Reston, VA</p>-->
<!--                <p><b>Linkedin: </b><a href="www.linkedin.com/in/lydiakidwell">www.linkedin.com/in/lydiakidwell</a></p>-->
<!--                <p><b>Website: </b><a href="www.lydiakidwell.com">www.lydiakidwell.com</a></p>-->
<!--                <p><b>Github: </b><a href="https://github.com/lydsk22">https://github.com/lydsk22</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-sm-12 col-md-6">-->
<!--            <div class='heading_container'>-->
<!--                <h5>-->
<!--                    <span><b>Professional Summary</b></span>-->
<!--                </h5>-->
<!--            </div>-->
<!--            <div class="detail-box">-->
<!--                <p>Detail and goal-oriented project engineer with two years of experience in civil engineering-->
<!--                    consulting and economic development. </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr/>-->
<!--    <div class="row">-->
<!--        <div class='heading_container'>-->
<!--            <h5>-->
<!--                <span><b>Work Experience</b></span>-->
<!--            </h5>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="detail-box">-->
<!--                <p><b>Project Engineer I</b> on the <b>Economic Development</b> team<br>-->
<!--                    Timmons Group in Richmond, VA (July-->
<!--                    2022 - July 2023) and Virginia Beach, VA (July 2023 - August 2024<br>-->
<!--                    <br>-->
<!--                    Identified and certified industrial sites based on Virginia Business Ready Sites Program (VBRSP), or-->
<!--                    relevant economic development authority, standards-->
<!--                </p>-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-12 col-md-6">-->
<!--                        <h5>Site Identification</h5>-->
<!--                        <ul>-->
<!--                            <li><b>Collected and recorded large datasets</b> including, but not limited to, county or region-wide water and sewer lines, LiDAR data, historical preservation and conservation areas, etc.</li><br>-->
<!--                            <li><b>Cut active data collection time by 90%</b> by developing a new method for downloading and recording LiDAR data</li><br>-->
<!--                            <li><b>Lead the team’s mega site research initiative</b> which resulted in the <b>creation of a database of over 10,000 data points</b> on mega sites, large site acquisitions, and sector-specific company announcements in the southeast U.S. and created documentation of usage, data types, and the creation process</li><br>-->
<!--                            <li><b>Collected 15+ stakeholder surveys in Smartsheet per site identification study</b> (approximately 1 every other month) to create weighted scoring models with 10 criteria each and <b>summarized findings with data visualizations created in Excel and Tableau</b> for use in client PowerPoint presentations</li><br>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-lg-6">-->
<!--                        <h5>Site Certification</h5>-->
<!--                        <ul><li>Utilized ArcGIS Pro and ArcGIS Online to <b>process and display constraint mapping data</b>: derived contour and slope from LiDAR data, calculated drive distances from sites to transportation and population hubs, measured utility line distances and environmental impact areas, and more</li><br>-->
<!--                            <li><b>Created and distributed 4 to 8</b> utility and locality economic development representative <b>surveys per site</b> then tracked all subsequent <b>data collection through Smartsheet’s sheets, forms, and dashboards.</b></li><br>-->
<!--                            <li><b>Reviewed and analyzed up to 10 due diligence studies per site</b>, noted any qualitative and quantitative findings of significance, and cited these studies in each Tier Report</li><br>-->
<!--                            <li>Compiled the written report, constraint maps, and rendered concept plans in InDesign to <b>create a Tier Report</b>, reviewed and edited the report with senior engineers, and <b>delivered the final report to clients</b></li><br>-->
<!--                            <li>Decreased the time necessary to create constraint mapping by 15% and <b>decreased overall report creation time by 7.5% by leading the team’s process recording initiative</b> and creating 12 workflow documents, 2 ArcGIS Pro constraint mapping templates, and 3 style/design standards documents </li><br>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--&lt;!&ndash;            <object data="/home/lydiak22/mysite/PortfolioWebsite/LydiaKidwell_Resume_2025.pdf"&ndash;&gt;-->
<!--            <img src="/Users/lydia/Documents/PythonProjects/PortfolioWebsite/LydiaKidwell_Resume_2025.pdf" width="100%" height="500px" style="border: none">this is my resume-->
<!--        </div>-->

<!-- resume section -->
<section class="resume_section layout_padding">
    <div class="heading_container heading_center">
        <h2>
            <span>Resume</span>
        </h2>
    </div>
    <div class="box pdf">
        <iframe allowfullscreen
                frameborder="0"
                src="static/files/LydiaKidwell_Resume_2025.pdf#toolbar=0&navpanes=0"
                style="border:none"
                title="Lydia's Resume 2025"
                height="1200px"
                width="80%"
        ></iframe>
    </div>

    <div class="btn-box">
        <a href="{{ url_for('download') }}">
            download
        </a>
    </div>
</section>

<!-- end resume section -->

<!-- end resume section -->

<!-- footer -->
{% include "footer.html" %}

</body>

