{% include "header.html" %}

<!-------body------>
<body class="sub_page">

{% include "navbar_simple.html" %}

<section class="steve_section layout_padding">
    <div class="container-fluid-center">

        <div class="row justify-content-md-left">

            {% for img_path in files %}
            <div class="col-md-4">
                <figure class="img-box">
                    <img src={{img_path}}
                         alt="Fluffy orange cat, Steve French, being cute">
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>

<!-- footer -->
{% include "footer.html" %}